body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 3px solid #333;
  }
  
  /* Left Panel Styling */
  .left-panel {
    width: 30%;
    background-color: #830a0a;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid black;
  }
  
  .left-panel h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  /* Right Panel Styling */
  .right-panel {
    width: 70%;
    padding: 20px;
  }
  
  .right-panel h2 {
    color: #333;
    margin-top: 0;
  }
  
  /* Button Styling */
  button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .hidden {
    display: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  